.inner-cursor{
  position: fixed;
  left: 750px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: #ff2a6d;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow{
  width: 25px;
  height: 25px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor{
  position: fixed;
  left: 750px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border: 1px solid #ff2a6d;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.1s;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #01012b;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ff2a6d;;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #01012b;  /* creates padding around scroll thumb */
}