<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Rafael D. Yapchiongco">
    <title>About YΛPS</title>
    <link rel="icon" type="text/png" href="../static/favicon.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/aboutStyle.css">
  </head>
  <body id="bodyBg">
    
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">JRY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                  <a class="nav-link" href="../index.html">Home</a>
                  </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about.html">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contact.html">Contact</a>
              </li>
          </ul>
          </div>
      </div>
    </nav>

    <main class="container">
    <div class="bg-light p-5 rounded" style="margin-bottom: 25px;">
        <h1>About Me</h1>
        <p class="lead">Sheeeeeeeeeeeeeeeeee.</p>
        <p class="lead" style="text-align: right; margin-bottom: 50px;">-Some Anonymous Dude</p>
        <hr>
        <h4 style="margin-bottom: 25px;">Personal Information</h4>
        <div style="display: flex; align-items: left; justify-content: left;">
          <div style="flex-basis: 20%;">
            <img src="../static/gg.jpg" alt="Yapchiongco ID" width="200" height="200" class="shadow">
          </div>
          <div style="padding-left: 20px; margin-top: 60px;">
            <h3 style="font-weight: bold;">John Rafael D. Yapchiongco</h3>
            <p class="lead" style="margin-bottom: 50px;">BS Information Technology, 2nd Year</p>
          </div>
        </div>
        <hr>
        <h4 style="margin-bottom: 25px;">Courses Taken in S/Y 2020-2021</h4>
        <h3 style="font-weight: bold;">1st Semester</h3>
        <div class="table-responsive">
          <table class="table text-center table-striped">
            <thead>
              <tr>
                <th style="width: 15%;">Course Code</th>
                <th style="width: 35%;">Course Title</th>
                <th style="width: 30%;">Teacher</th>
                <th style="width: 10%;">Units</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CSDC103</td>
                <td>Algorithms and Data Structures</td>
                <td>Adrian Pajarillo</td>
                <td>3</td>
              </tr>
              <tr>
                <td>CSDC104</td>
                <td>Information Management</td>
                <td>Jelly Aureus</td>
                <td>3</td>
              </tr>
              <tr>
                <td>CSDC105</td>
                <td>Trends in Application Development</td>
                <td>Glenn Fabia</td>
                <td>3</td>
              </tr>
              <tr>
                <td>CSDC200</td>
                <td>Human Computer Interaction (HCI)</td>
                <td>Michelle Elija Santos</td>
                <td>3</td>
              </tr>
              <tr>
                <td>ITMC212</td>
                <td>Object-Oriented Programming (OOP)</td>
                <td>Michelle Elija Santos</td>
                <td>3</td>
              </tr>
              <tr>
                <td>NSTP101</td>
                <td>National Service Training Program I (CWTS I)</td>
                <td>Renee Sario</td>
                <td>3</td>
              </tr>
              <tr>
                <td>PEDS103</td>
                <td>Individual/Dual Games and Sports 1</td>
                <td>Imelda Sapiera</td>
                <td>2</td>
              </tr>
              <tr>
                <td>PHIN102</td>
                <td>Philosophical Anthropology</td>
                <td>Renz Marion Caras</td>
                <td>3</td>
              </tr>
              <tr>
                <td>SOCS103</td>
                <td>Contemporary World</td>
                <td>Joseph Maria Francis De Leon</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 style="font-weight: bold; margin-top: 25px;">2nd Semester</h3>
        <div class="table-responsive">
          <table class="table text-center table-striped">
            <thead>
              <tr>
                <th style="width: 15%;">Course Code</th>
                <th style="width: 35%;">Course Title</th>
                <th style="width: 30%;">Teacher</th>
                <th style="width: 10%;">Units</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ITMC211</td>
                <td>Computer Networking 1</td>
                <td>Glenn Fabia</td>
                <td>4</td>
              </tr>
              <tr>
                <td>ITMC221</td>
                <td>Operating Systems (OS)</td>
                <td>Raphael Henry Garay</td>
                <td>3</td>
              </tr>
              <tr>
                <td>ITMC222</td>
                <td>Advanced Database Systems</td>
                <td>Marianne Ang-Tolentino</td>
                <td>3</td>
              </tr>
              <tr>
                <td>ITMC223</td>
                <td>Integrative Programming and Technologies 1</td>
                <td>Frederick Olaño</td>
                <td>3</td>
              </tr>
              <tr>
                <td>NSTP102</td>
                <td>National Service Training Program II (CWTS II)</td>
                <td>Christine Refuerzo</td>
                <td>3</td>
              </tr>
              <tr>
                <td>PEDS104</td>
                <td>Team Sports/Adaptive Activities 1</td>
                <td>John Paul Sarol</td>
                <td>2</td>
              </tr>
              <tr>
                <td>PHIS102</td>
                <td>Ethics</td>
                <td>Victor John Loquias</td>
                <td>3</td>
              </tr>
              <tr>
                <td>SOCS104</td>
                <td>The Life and Works of Rizal</td>
                <td>Vasil Victoria</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 style="font-weight: bold; margin-top: 25px;">Summer Class</h3>
        <div class="table-responsive">
          <table class="table text-center table-striped">
            <thead>
              <tr>
                <th style="width: 15%;">Course Code</th>
                <th style="width: 35%;">Course Title</th>
                <th style="width: 30%;">Teacher</th>
                <th style="width: 10%;">Units</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ITMC231</td>
                <td>Platform Technologies</td>
                <td>Glenn Fabia</td>
                <td>3</td>
              </tr>
              <tr>
                <td>ITMC232</td>
                <td>Social Issues, Ethics and Professional Practice</td>
                <td>Raphael Henry Garay</td>
                <td>3</td>
              </tr>
              <tr>
                <td>ITMC233</td>
                <td>Technopreneurship for IT Professionals</td>
                <td>Marianne Ang-Tolentino</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <h4>Why Information Technology?</h4>
        <div style="text-align:justify">
          <p>The Information Technology industry is one of the fastest-growing sectors worldwide providing jobs 
            full of opportunities for professional success. The IT industry offers quick employment, opportunities 
            in every sector, multiple career paths, high salaries, and it’s easy to enter this industry even without a 
            college degree. </p>
          <p>There is Quick Employment. Tech companies are looking to hire IT professionals because demand is 
            high and there aren’t enough qualified workers to fill the gap. And the trend won’t end anytime soon, as the tech industry
            is set to grow another 22-38% by 2020.
            The demand is so high, that certified professionals can easily find work even without a college degree. 
            While at the same time, tech students are known to freelance during their studies to generate an extra bit of cash.</p>
          <p>There is also a variety of Career Opportunities. Information Technology is not an isolated industry. It overlaps with every 
            other sector, which makes it a versatile career opportunity. From healthcare to agriculture, digital transformation is 
            driving change in all spheres of business which allows IT professionals to choose a career that aligns with their interests.</p>
          <p>Source: <a href="https://www.mycomputercareer.edu/5-reasons-t-industry-great-career-choice/">MyComputerCareer</a></p>
          <p>Why I study Information Technology? Because for me, I've been always facinated by Technology. Ever since I was 5 or 6, I was already
            using a computer to play games and search web browsers. By the time I was in highschool, the only subject that intrigued me was the 
            computer subject. I was always excited learning and experimenting in languages such as HTML, CSS, and JS in those subjects. Although 
            my first options before entering college was Computer Science or Computer Engineering, but I just thought that I usually do not have
            the motivation to create or discover something, that I just wanted to manage something. Moreover, I just thought that I will just try
            to create things as a hobby instead.
          </p>
        </div>
    </div>
    <footer class="mt-auto text-white-50" style="text-align: center;">
      <p>This is the Contact template with <a href="https://getbootstrap.com/" class="text-white">Bootstrap 5.0.2</a> integration, was modified by <a href="https://twitter.com/Yapshiii" class="text-white">@Yapshiii</a> for educational purposes, mainly an exercise for ITMC231.</p>
    </footer>
    </main>
  </body>
</html>
