<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="John Rafael D. Yapchiongco">
    <title>Contact YΛPS</title>
    <link rel="icon" type="text/png" href="../static/favicon.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/contactStyle.css">
  </head>
  <body id="bodyBg">
    
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">JRY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                  <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about.html">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/contact.html">Contact</a>
              </li>
              
          </ul>
          </div>
      </div>
    </nav>

    <main class="container">
        <div class="bg-light p-5 rounded" style="margin-bottom: 25px;">
            <h1>Contact Me</h1>
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 25px;">
                <div class="card" style="width: 18rem; margin-right: 3%;">
                    <img src="../static/phone.gif" class="card-img-top" alt="phone">
                    <div class="card-body">
                        <h5 class="card-title">Phone Number</h5>
                        <p class="card-text">09213158302 (Smart)</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; margin-right: 3%;">
                    <img src="../static/gmail.gif" class="card-img-top" alt="gmail">
                    <div class="card-body">
                        <h5 class="card-title">GBox</h5>
                        <p class="card-text">jyapchiongco@gbox.adnu.edu.ph</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../static/fb.gif" class="card-img-top" alt="facebook">
                    <div class="card-body">
                        <h5 class="card-title">Facebook</h5>
                        <p class="card-text"><a href="https://www.facebook.com/JR.Yapchiongco/">Rafael Yapchiongco</a></p>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="card" style="width: 18rem; margin-right: 3%;">
                    <img src="../static/twitter.gif" class="card-img-top" alt="twitter">
                    <div class="card-body">
                        <h5 class="card-title">Twitter</h5>
                        <p class="card-text"><a href="https://twitter.com/Yapshiii">@Yapshiii</a></p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; margin-right: 3%;">
                    <img src="../static/hrank.gif" class="card-img-top" alt="hackerrank>
                    <div class="card-body">
                        <h5 class="card-title">HackerRank</h5>
                        <p class="card-text"><a href="https://www.hackerrank.com/Swoksaar">@Swoksaar</a></p>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 19rem;">
                    <img src="../static/steam.gif" class="card-img-top" alt="steam" style="margin-top: 55px;">
                    <div class="card-body">
                        <h5 class="card-title">Steam</h5>
                        <p class="card-text"><a href="https://steamcommunity.com/id/iSchadenfreude">Swoksaar</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="mt-auto text-white-50" style="text-align: center;">
            <p>This is the Contact template with <a href="https://getbootstrap.com/" class="text-white">Bootstrap 5.0.2</a> integration, was modified by <a href="https://twitter.com/Yapshiii" class="text-white">@Yapshiii</a> for educational purposes, mainly an exercise for ITMC231.</p>
        </footer>
    </main>
  </body>
</html>
